<table style="width:80%">
  <tr>
    <th>Todo </th>
    <th>Actions</th>
  <tr>

<div >


<% @todos.each do |todo| %>
  <tr>
    <td class="card"> <%= todo.description %> </td>
    <td> <%= link_to 'Show', todo_path(todo.id) %> </td>
    <td> <%= link_to 'Edit', todo_edit_path(todo.id) %> </td>
    <td> <%= link_to 'Destroy', todo, method: :delete %> </td>
    <td> <%= link_to 'Complete', todo_complete_path(todo.id) %> </td>
  </tr>
<% end %>
</div>
</table>
<br>
<%= link_to 'New Todo', todos_new_path %>
